@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

.float-left {
    float: left;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.bg-light {
    background-color: #ffff;
}

.clearfix {
    clear: both;
}

.page-login {
    width: 100%;
    height: 100vh;
    background-color: #0E88DB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 1px solid #ddd;
    background-color: #fff;
}

.box-header {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
}

.box-body {
    padding: 16px;
}

.box-footer {
    border-top: 1px solid #ddd;
    background-color: #f2f2f2;
    padding: 16px;
}

form {
    margin: 15px 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group .input-control {
    padding: 10px 16px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
}

.box-login {
    width: 300px;
}

.btn {
    border: 1px solid #ddd;
    padding: 10px 16px;
    font-size: 16px;
}

.btn:hover {
    cursor: pointer;
}

.btn-blue {
    background-color: #0E88DB;
    color: #fff;
    border: 1px solid #0E88DB;
}

.btn-blue:hover {
    background-color: #0E88DB;
}

.text-center {
    text-align: center !important;
}

.alert {
    padding: 10px 16px;
    border: 1px solid;
}

.alert-error {
    background-color: #FABEC0;
    border: 1px solid #E43D40;
    color: #E43D40;
}

.alert-success {
    background-color: #A3EBB1;
    border: 1px solid #116530;
    color: #116530;
}

.navbar {
    background-color: #0E88DB;
    padding: 10px 0;
}

.nav-logo h2 a {
    color: white;
    text-decoration: none;
}

/* Posisi menu di sebelah kanan */
.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    /* Posisi kanan */
}

.nav-menu li {
    display: inline-block;
    margin-left: 20px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #0E88DB;
    list-style: none;
    padding: 10px;
}

.nav-menu li:hover .dropdown {
    display: list-item;
}

/* Tombol mobile hanya tampil di mode mobile */
.mobile-menu-btn {
    display: none;
}

.mobile-menu-btn {
    width: 100%;
    float: left;
    padding: 10px;
    display: none;
}


.box-menu-mobile {
    display: none;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #0E88DB;
    z-index: 9999;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Tampilkan dropdown jika diberi kelas 'show' */
.show {
    display: block;
}

.box-menu-mobile span {
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 0;
    font-size: 20px;
}

.box-menu-mobile ul {
    margin-top: 50px;
}

.box-menu-mobile ul li a {
    padding: 10px;
    display: inline-block;
    color: #fff;
}


.content {
    padding: 80px 0 30px 0;
}

.footer-admin {
    padding: 20px 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.table td:first-child {
    width: 50px;
    text-align: center;
}

.table td:last-child {
    width: 150px;
    text-align: center;
}

.text-red {
    color: #E43D40;
}

.text-orange {
    color: #FF8300;
}

.text-green {
    color: #18A558;
}

.input-group:after {
    content: "";
    clear: both;
    display: block;
}

.input-group input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    float: left;
    border: 1px solid #ddd;
}

.input-group input[type="text"]:focus {
    outline: none;
}

.input-group button {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    float: left;
    border: 1px solid #ddd;
    border-left: none;
}

.image {
    border: 1px solid #ddd;
    padding: 5px;
}

.header {
    border-bottom: 3px solid #0E88DB;
    max-width: 100%;
}

.header-logo {
    float: center;
    line-height: 70px;
    padding: 5px 0;
}

.header-logo img {
    float: center;
    margin-left: 450px;
    margin-top: 25px;
    height: 20%;
    width: 20%;
}


.section {
    padding: 100px 0;
}

.section h3 {
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}

.section h3::after {
    content: "";
    display: block;
    width: 60px;
    border: 3px solid #0E88DB;
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
}

.section img {
    margin-bottom: 10px;
}

.section h4 {
    margin-bottom: 20px;
}

.col-4 {
    min-height: 200px;
    width: 25%;
    float: left;
    padding: 10px;
}

.search-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
    margin-right: 10px;
}

.search-form button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


/* Styling untuk tab */
.year-tabs {
    margin: 20px 0;
    text-align: center;
}

.tablink {
    background-color: #f1f1f1;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    border: none;
    margin: 0 5px;
    border-radius: 5px;
}

.tablink.active {
    background-color: #007bff;
    color: white;
}

/* Styling untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
}

th {
    background-color: #f8f8f8;
    color: #333;
}

td img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}


/* Styling untuk footer */
footer {
    background-color: #0E88DB;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content p a {
    color: #fff;
    text-decoration: none;
}

.footer-content p a:hover {
    text-decoration: underline;
}

/*css mobile*/

@media screen and (max-width: 1000px) {
    .container {
        width: 96%;
    }

    .header-logo img {
        margin-left: 380px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .col-7 {
        width: 100%;
    }

    .box-login {
        width: 50%;
        border-collapse: collapse;
        margin-top: 20px;
        text-align: center;
    }

    .table th,
    .table td {
        padding: 8px 5px;
        /* Kurangi padding di layar kecil */
        font-size: 12px;
        /* Perkecil ukuran font di perangkat kecil */
    }

    .table td:first-child {
        width: 40px;
        /* Lebar lebih kecil untuk kolom pertama */
    }

    .table td:last-child {
        width: 100px;
        /* Lebar lebih kecil untuk kolom terakhir */
    }


    .header-logo {
        text-align: center;
        line-height: 50px;
    }

    .header-logo img {
        margin: 0 auto;
        height: auto;
        width: 60%;
    }

    .search-form {
        flex-direction: column;
        align-items: stretch;
    }

    .search-form input,
    .search-form button {
        width: 100%;
        margin: 5px 0;
    }

    .nav-menu {
        display: none;
        /* Sembunyikan menu pada mobile */
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .show {
        display: block;
    }
    

    .mobile-menu-btn {
        display: block;
    }

    .box-menu-mobile {
        background-color: #0E88DB;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        padding: 20px;
        display: block;
        z-index: 1000;
    }

    .box-menu-mobile ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .box-menu-mobile ul li {
        margin-bottom: 20px;
    }

    .box-menu-mobile ul li a {
        color: white;
        font-size: 12px;
        text-decoration: none;
        text-align: left;
    }

    .close-btn {
        color: white;
        cursor: pointer;
        display: block;
        text-align: right;
        margin-bottom: 20px;
        font-size: 20px;
    }


    footer {
        padding: 15px;
        font-size: 14px;
    }

    .tablink {
        width: 100%;
        margin-bottom: 5px;
        font-size: 14px;
        display: flexbox;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        text-align: center;
    }

    table,
    th,
    td {
        border: 1px solid #ddd;
    }

    th,
    td {
        padding: 12px;
    }

    th {
        background-color: #f8f8f8;
        color: #333;
    }

    td img {
        max-width: 100px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}